@keyframes orbit {
    100% { transform: rotate(360deg);    }
}

@keyframes shine {
    50% { opacity: 0.4; transform: scale(0.4); }
}

@keyframes appear {
    0% {
      opacity: 0;
      transform: translate(0, 0) scale(0.5);
    }
    10% {
      opacity: 1;
      transform: translate(0, 0) scale(1);
    }
    50% {
      opacity: 1;
      transform: translate(400px, 400px) scale(1);
    }
    100% {
      opacity: 0;
      transform: translate(800px, 800px) scale(1);
    }
  }

.space {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: transparent;
    animation: orbit 500s linear infinite;
    z-index: -10;
    background-color: transparent;
}

.space > * {
    border: none;
    position: absolute;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    overflow: hidden;
}

.star {
    animation: shine 0s linear infinite;
}

.comet {
    position: absolute;
    width: 12px;
    height: 12px;
    background: radial-gradient(circle, #ffffff, var(--color-cyan) 70%) !important;
    border-radius: 50%;
    /* animation: appear 0s linear forwards; */
  }
  .comet::after {
    content: "";
    position: absolute;
    left: -40px;  /* Adjust tail length */
    top: 50%;
    width: 40px;
    height: 3px;
    background: linear-gradient(to left, var(--color-cyan), transparent);
    transform: translateY(-50%);
    filter: blur(2px);
  }